<!DOCTYPE html>
<html ng-app="myFirstApp" lang="en">
<head>
    <meta charset="UTF-8">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>Title of the page</title>
</head>
<body ng-controller="myFirstController">
    <!-- Section that contains some tests-->
    <h1>Some tests</h1>
    <div>
        {{function1()}} <br>
        Enter firstname:
        <input type="text" ng-model="firstname"><br>
        Enter surname:
        <input type="text" ng-model="surname"><br>
        Firstname = {{firstname}}<br>
        Surname = {{surname}}<br>
        <br><br>
    </div>
    <div>
        <H2>Name Calculator</H2>
        Input name: 
        <input type="text" 
            ng-model="name"
            ng-keyup="displayNumberic();"><br>
        Total numeric value of the name: {{totalvalue}}<br>
    </div>
</body>
</html>